<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="FishPig\WordPress\Model\Post">
        <plugin name="fishpig_wordpress_yoast_post" type="FishPig\WordPress_Yoast\Plugin\Post" sortOrder="10" disabled="false"/>
    </type>
    <type name="FishPig\WordPress\Model\ResourceModel\Post">
        <plugin name="fishpig_wordpress_yoast_resource_post" type="FishPig\WordPress_Yoast\Plugin\ResourcePlugin\Post" sortOrder="10" disabled="false"/>
    </type>
    <type name="FishPig\WordPress\Model\Term">    
        <plugin name="fishpig_wordpress_yoast_term" type="FishPig\WordPress_Yoast\Plugin\Term" sortOrder="10" disabled="false"/>
    </type>
    <type name="FishPig\WordPress\Model\Term\Taxonomy">    
        <plugin name="fishpig_wordpress_yoast_term_taxonomy" type="FishPig\WordPress_Yoast\Plugin\Term\Taxonomy" sortOrder="10" disabled="false"/>
    </type>
    <type name="FishPig\WordPress\Model\User">    
        <plugin name="fishpig_wordpress_yoast_user" type="FishPig\WordPress_Yoast\Plugin\User" sortOrder="10" disabled="false"/>
    </type>
    <type name="FishPig\WordPress\Model\Archive">    
        <plugin name="fishpig_wordpress_yoast_archive" type="FishPig\WordPress_Yoast\Plugin\Archive" sortOrder="10" disabled="false"/>
    </type>
    <type name="FishPig\WordPress\Model\Homepage">    
        <plugin name="fishpig_wordpress_yoast_homepage" type="FishPig\WordPress_Yoast\Plugin\Homepage" sortOrder="10" disabled="false"/>
    </type>
    <type name="FishPig\WordPress\Model\Search">    
        <plugin name="fishpig_wordpress_yoast_search" type="FishPig\WordPress_Yoast\Plugin\Search" sortOrder="10" disabled="false"/>
    </type>
    <!-- Required FishPig_WodPress_PostTypeTaxonomy -->
    <type name="FishPig\WordPress\Model\Post\Type">
        <plugin name="fishpig_wordpress_yoast_post_type" type="FishPig\WordPress_Yoast\Plugin\Post\Type" sortOrder="10" disabled="false"/>
    </type>
    
    <type name="FishPig\WordPress\Model\Config">
        <plugin name="fishpig_wordpress_yoast_config" type="FishPig\WordPress_Yoast\Plugin\Config" sortOrder="10" disabled="false"/>
    </type>
</config>