<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="FishPig\WordPress\App\View\AssetProvider">
        <arguments>
            <argument name="assetProviders" xsi:type="array">
                <item name="yoast" xsi:type="object" sortOrder="50">FishPig\WordPress_Yoast\App\View\AssetProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="FishPig\WordPress\Controller\Post\View">
        <arguments>
            <argument name="seoMetaDataProvider" xsi:type="object">FishPig\WordPress_Yoast\Controller\Post\View\SeoMetaDataProvider</argument>
        </arguments>
    </type>
    <type name="FishPig\WordPress\Controller\Term\View">
        <arguments>
            <argument name="seoMetaDataProvider" xsi:type="object">FishPig\WordPress_Yoast\Controller\Term\View\SeoMetaDataProvider</argument>
        </arguments>
    </type>
    <type name="FishPig\WordPress\Controller\User\View">
        <arguments>
            <argument name="seoMetaDataProvider" xsi:type="object">FishPig\WordPress_Yoast\Controller\User\View\SeoMetaDataProvider</argument>
        </arguments>
    </type>
    <type name="FishPig\WordPress\Controller\Archive\View">
        <arguments>
            <argument name="seoMetaDataProvider" xsi:type="object">FishPig\WordPress_Yoast\Controller\Archive\View\SeoMetaDataProvider</argument>
        </arguments>
    </type>
    <type name="FishPig\WordPress\Controller\Search\View">
        <arguments>
            <argument name="seoMetaDataProvider" xsi:type="object">FishPig\WordPress_Yoast\Controller\Search\View\SeoMetaDataProvider</argument>
        </arguments>
    </type>
    <type name="FishPig\WordPress\Controller\PostType\View">
        <arguments>
            <argument name="seoMetaDataProvider" xsi:type="object">FishPig\WordPress_Yoast\Controller\PostType\View\SeoMetaDataProvider</argument>
        </arguments>
    </type>
    <!--
    /**
     * Plugins
     */
    -->
    <type name="FishPig\WordPress\App\Taxonomy\DataRetriever">
        <plugin name="fishpig-wordpress-yoast" type="FishPig\WordPress_Yoast\Plugin\FishPig_WordPress\App\Taxonomy\DataRetrieverPlugin"/>
    </type>
    <type name="FishPig\WordPress\Controller\Action">
        <plugin name="fishpig-wordpress-yoast" type="FishPig\WordPress_Yoast\Plugin\FishPig_WordPress\Controller\ActionPlugin"/>
    </type>
    <type name="FishPig\WordPress\Model\ResourceModel\Post\Permalink">
        <plugin name="fishpig-wordpress-yoast" type="FishPig\WordPress_Yoast\Plugin\FishPig_WordPress\Model\ResourceModel\Post\PermalinkPlugin"/>
    </type>
    <type name="FishPig\WordPress\Controller\Router">
        <arguments>
            <argument name="routerPool" xsi:type="array">
                <item name="yoast-redirects" xsi:type="object" sortOrder="3">FishPig\WordPress_Yoast\Controller\Router\RedirectRouter</item>
            </argument>
        </arguments>
    </type>
    <type name="FishPig\WordPress_PluginShortcodeWidget\Controller\Router\DynamicRouter">
        <plugin name="fishpig-wordpress-yoast" type="FishPig\WordPress_Yoast\Plugin\FishPig_WordPress_PluginShortcodeWidget\Controller\Router\DynamicRouterPlugin"/>
    </type>
</config>
